<div class="home-container">
  <div class="home-row-container">
    <div class="home-column-container">
      
      <div>
        <h1>Find A Meeting</h1>
      </div>
      <p>In the options below, select the relevant information to help you find a meeting!</p>

      <select ng-model="selection.day" ng-options="day as day for day in days" ng-change="getMeetings()"></select>
      <select ng-model="selection.time" ng-options="time as time for time in times" ng-change="getMeetings()"></select>
      <select ng-model="selection.city" ng-options="city as city for city in city" ng-change="getMeetings()"></select>

      <div ng-repeat="meeting in meetings">
        <p>
          <span ng-bind="meeting.day"></span>
          <span ng-bind="meeting.time"></span>
          <span ng-bind="meeting.group"></span>
          <span ng-bind="meeting.location"></span>
          <span ng-bind="meeting.city"></span>
          <span ng-bind="meeting.type"></span>
        </p>
      </div>


    </div>
  </div>
</div>
