<div id="home-btn">
  <button ng-click="goHome()">Home</button>
</div>

<h1 class="headline-message">Meetings For {{meetingDay}} at {{meetingTime}}!</h1>

<div ng-repeat="meeting in meetings" class="view-meetings-page">
  <div class="meeting-container">
      <span ng-bind="meeting.day" class="meeting-day"></span>
      <span ng-bind="meeting.time" class="meeting-time"></span>
      <span ng-bind="meeting.group" class="meeting-group"></span>
      <span ng-bind="meeting.location" class="meeting-location"></span>
      <span ng-bind="meeting.city" class="meeting-city"></span>
      <span ng-bind="meeting.type" class="meeting-type"></span>
  </div>
</div>
